Answer/main.aux
Answer/main.bbl
Answer/main.bbl-SAVE-ERROR
Answer/main.bcf
Answer/main.fdb_latexmk
Answer/main.fls
Answer/main.log
Answer/main.synctex.gz
Answer/main.out
Answer/main.pdf
Answer/main.run.xml